
.mainCard{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card:hover{
    background-color: lightblue;
}
.cardElements{
    
    text-decoration: none;
    color: black;
}
.card{
    width: 1000px;
}